 <div class="row">
    <div class="col-md-12" ng-show="customers.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-customer/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Employee</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Name&nbsp;</th>
        <th>Email&nbsp;</th>
        <th>DOJ&nbsp;</th>
       <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in customers">
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.doj}}</td>
                <td><a href="#/edit-customer/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Employee</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="customers.length == 0">
        <div class="col-md-12">
            <h4>No employee found</h4>
        </div>
    </div>
</div>